@model IEnumerable<ListMed.DTO.ListaAmostra>

@{
    ViewBag.Title = "Painel";
}



<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 m-2">
            <button type="button" class="btn btn-success">Aceitar Todos</button>
     
        </div>
 
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-responsive-sm">
                <tr>
                    <th>
                        <input type="checkbox" class="marcarTodos" />
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Site)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cidade)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input type="checkbox" class="" ref="@item.Id" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Site)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cidade)
                        </td>
                        <td>
                            <a href="~/Painel/VerificarAmostra/@item.Id" ><i class="fa fa-eye"></i></a>
                        </td>
                    </tr>
                }

            </table>
        </div>
       
    </div>
</div>

