@model ListMed.DTO.AmostraClinicaViewModel

@{
    ViewBag.Title = "Verificar Amostra";
}




@using (Html.BeginForm("CadastrarClinica", "Contribua", FormMethod.Post, new { @id = "cadastraClinica" }))
{
    @Html.HiddenFor(model => model.Id)
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 offset-md-4" style="text-align: center;">
                <h3>Editar e confirmar clínica</h3>

            </div>
            <div class="col-md-4 " style="text-align: right; font-size: 25px;">
                <span class="fa fa-trophy" style="color: orange;"> </span> <input type="number" name="pontos" value="@Model.pontos"  class="ptInput" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p> @Html.ValidationSummary(true, "", new { @class = "text-danger" })</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Nome da Clínica", htmlAttributes: new { @class = "control-label", @required = "required" })
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control pts"} })
                    @Html.ValidationMessageFor(dto => dto.Nome, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Web Site", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Site, new { htmlAttributes = new { @class = "form-control pts" } })
                    @Html.ValidationMessageFor(model => model.Site, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.Latitude, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control  pts" } })
                    @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.Longitude, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control  pts" } })
                    @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.PrecoConsulta, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.PrecoConsulta, new { htmlAttributes = new { @class = "form-control dinheiro  pts", @placeholder = "R$ 00,00" } })
                    @Html.ValidationMessageFor(model => model.PrecoConsulta, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.PrecoExame, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.PrecoExame, new { htmlAttributes = new { @class = "form-control dinheiro pts", @placeholder = "R$ 00,00"} })
                    @Html.ValidationMessageFor(model => model.PrecoExame, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.HoraAbertura, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.HoraAbertura, new { htmlAttributes = new { @class = "form-control hora pts", @placeholder = "00:00" } })
                    @Html.ValidationMessageFor(model => model.HoraAbertura, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="col-md-2">

                <div class="form-group">
                    @Html.LabelFor(model => model.HoraFechamento, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.HoraFechamento, new { htmlAttributes = new { @class = "form-control hora pts", @placeholder = "00:00"  } })
                    @Html.ValidationMessageFor(model => model.HoraFechamento, "", new { @class = "text-danger" })

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="form-group">
                    <label>Endereço Formatado</label>
                    @Html.EditorFor(model => model.EnderecoFormatado, new { htmlAttributes = new { @class = "form-control  pts", } })
                </div>

            </div>
            <div class="col-md-5 col-12">
                <label>Telefone</label>
                <input type="text" class="form-control cel pts" name="cel" value="@( Model.TelefonesClinicas[0] != null ? Model.TelefonesClinicas[0].Numero : "")" required />
            </div>
            <div class="col-md-1 col-2">
                <button type="button" class="btn addTelCadClie"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <div class="row telefones">
            @foreach (var tel in Model.TelefonesClinicas)
            {
                <div class="offset-md-6 col-md-5">
                    <label>Telefone</label>
                    <input type="text" class="form-control cel" name="cel" value="@tel.Numero" />
                </div>
                <div class="col-md-1 col-2" style="padding: 15px;"><a href="javascript:void(0)" class="semEstilo excluiCel"><i class="fa fa-times-circle"></i></a></div>
            }
        </div>
        <div class="row mt-3">
            <div class="col-md-6  border-right">
                <label for="txtEspecialidades" style="text-align: center;">Especialidades</label>
                <input type="text" class="form-control procuraClinica_lista" style="width: 50%" id="txtEspecialidades" />
                <div class="divEspecialidades mt-3">
       
                </div>
            </div>
            <div class="col-md-6">
                <label>Serviços</label>
                <input type="text" class="form-control procuraClinica_lista" style="width: 50%;" id="txtServicos" />
                <div class="divServicos mt-3"></div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <a href="#" class="btn btn-secondary">Voltar</a>
            </div>
            <div class="col-md-6" style="text-align: right;">
                <input type="hidden" id="servicos" name="servicos" />
                <input type="hidden" id="especialidades" name="especialidades" />
                <input type="submit" value="Confirmar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        jQuery.extend(jQuery.validator.methods, {
            number: function (value, element) {

                return this.optional(value) ||
                    /^(\d{1,3}(\.\d)*|(\d+))(\,\d)?$/.test(value);
            },
            date: function (value, element) {
                return this.optional(element) ||
                    /^(\d)\/(\d)\/(\d)?$/.test(value);
            }
        });

        $('.dinheiro').mask('000.000.000.000.000,00', { reverse: true });
    </script>

    @Scripts.Render("~/ScriptMed/CadastroClinica.js")

}

