@model List<ListMed.Models.Clinica>


@foreach (var clinica in Model)
{
    <a href="~/Clinicas/Detalhes/@clinica.Id" class="linkClinica">
        <div class="card" style="margin-bottom: 1rem; margin-top: 1rem;">
            <div class="row" style="padding: 0;    height: 100%;">
                <div class="col-sm-3  fotos align-self-center" style="z-index: 1;padding-right: 0;">
                    @if (clinica.Fotos == null)
                    {
                        <img src="~/Content/Imagens/vazia.jpg" title="sem imagem" alt="sem imagem"  />
                    }
                    else if (clinica.Fotos.Count == 0)
                    {
                        <img src="~/Content/Imagens/vazia.jpg" title="sem imagem" alt="sem imagem"  />
                    }
                    else if (clinica.Fotos.Count == 1)
                    {
                        <img src="~/Content/Imagens/vazia.jpg" class="" title="sem imagem" alt="sem imagem" style="width: 100%;max-height: 132px;"  />
                    }

                </div>
                <div class="col-sm-6 border-left border-right">
                    <div class="card-body">
                        <b>@clinica.NomeFantasia</b><br />
                        <small>Telefone(s): @clinica.Telefone1 @(clinica.Telefone2 != null ? ", " + clinica.Telefone2 : "")</small><br />
                        <small>Endereço: @clinica.EnderecoFormatado</small>
                    </div>

                </div>
                <div class="col-sm-2">
                    <small>Exames: R$ @clinica.PrecoExame</small><br />
                                                                 <small>Consultas: R$ @clinica.PrecoConsulta</small><br />
                    <div id="estrelas" title="@clinica.avaliacao">
                        @if (clinica.avaliacao > 0)
                        {
                            if (clinica.avaliacao < 1)
                            {
                                <span class="fa fa-star-half-full checado"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            }
                            else if (clinica.avaliacao < 1.5)
                            {
                                <span class="fa fa-star checado"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            }
                            else if (clinica.avaliacao < 2)
                            {
                                <span class="fa fa-star checado"></span>
                                <span class="fa fa-star-half-full checado"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            }
                            else if (clinica.avaliacao < 2.5)
                            {
                                <span class="fa fa-star checado"></span>
                                <span class="fa fa-star checado"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            }
                            else if (clinica.avaliacao < 3)
                            {
                                <span class="fa fa-star checado"></span>
                                <span class="fa fa-star checado"></span>
                                <span class="fa fa-star-half-full checado"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>

                            }
                            else if (clinica.avaliacao < 3.5)
                            {
                                <span class="fa fa-star checado"></span>
                                <span class="fa fa-star checado"></span>
                                <span class="fa fa-star checado"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>

                            }
                            else if (clinica.avaliacao < 4)
                            {
                                <span class="fa fa-star checado"></span>
                                <span class="fa fa-star checado"></span>
                                <span class="fa fa-star checado"></span>
                                <span class="fa fa-star-half-full checado"></span>
                                <span class="fa fa-star"></span>
                            }
                            else if (clinica.avaliacao < 4.5)
                            {
                                <span class="fa fa-star checado"></span>
                                <span class="fa fa-star checado"></span>
                                <span class="fa fa-star checado"></span>
                                <span class="fa fa-star checado"></span>
                                <span class="fa fa-star"></span>
                            }
                            else if (clinica.avaliacao < 5)
                            {
                                <span class="fa fa-star checado"></span>
                                <span class="fa fa-star checado"></span>
                                <span class="fa fa-star checado"></span>
                                <span class="fa fa-star checado"></span>
                                <span class="fa fa-star-half-full checado"></span>
                            }
                            else
                            {
                                <span class="fa fa-star checado"></span>
                                <span class="fa fa-star checado"></span>
                                <span class="fa fa-star checado"></span>
                                <span class="fa fa-star checado"></span>
                                <span class="fa fa-star checado"></span>
                            }
                        }
                        else
                        {
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }
                    </div>
               
                </div>
            </div>

        </div>
    </a>

}
    <script>
        initMap();
    
        function initMap() {
            var locations = [];
            @if(Model != null && Model.Count > 0)
            {
                @:var lt = @Model[0].Lt.ToString().Replace(",", ".");
                @:var lg = @Model[0].Lg.ToString().Replace(",", ".");
            }
            else {
               @:var lt = 0;
               @: var lg = 0;
            }


            @for(int i = 0; i < Model.Count; i++)
            {
         
                @:locations.push(new Array("@Model[i].NomeFantasia", @Model[i].Lt.ToString().Replace(",", "."), @Model[i].Lg.ToString().Replace(",", "."), @(i+1)));
            }

 
            console.log(locations);
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: new google.maps.LatLng(lt, lg),
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map
        });

        google.maps.event.addListener(marker, 'click', (function (marker, i) {
            return function () {
                infowindow.setContent(locations[i][0]);
                infowindow.open(map, marker);
            }
        })(marker, i));
    }
}
    </script>
