<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MedList</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-md bg-light navbar-light border-bottom shadow-sm">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="~/Inicio">MedList</a>
                </li>
                @if (ViewContext.RouteData.Values["controller"].ToString().ToUpper() == "CLINICAS" && ViewContext.RouteData.Values["action"].ToString().ToUpper() == "INDEX")
                {
                    <li class="nav-item">
                        <form action="~/Clinicas" method="get" class="form_consultaClinica">
                            <input class="form-control mr-sm-5 procuraClinica_lista" type="search" id="procura_clinica" name="localidade" placeholder="Ex: Rio de Janeiro" aria-label="Search">
                        </form>
        
                    </li>
                }


            </ul>
            <a href="#" class="nav-dir">Entre</a>
            <a href="#" class="btn btn-outline-primary ">Cadastre-se</a>

        </div>
    </nav>

    <div class="inicio">
        @RenderBody()

    </div>

    <footer class="bg-light">
        <p>&copy; @DateTime.Now.Year - Med List</p>
    </footer>
    <script type="text/javascript">var baseUrl = '@Url.Content("~")';</script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
