<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MedList</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="fixed-top">
        <nav class="navbar navbar-expand-md bg-light navbar-light border-bottom shadow-sm">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Inicio">MedList</a>
                    </li>
                    @if (ViewContext.RouteData.Values["controller"].ToString().ToUpper() != "INICIO")
                    {
                        <li class="nav-item">
                            <form action="~/Clinicas" method="get" class="form_consultaClinica">
                                <input class="form-control mr-sm-5 procuraClinica_lista" type="search" id="procura_clinica" name="localidade" placeholder="Ex: Rio de Janeiro" aria-label="Search">
                            </form>

                        </li>
                    }


                </ul>
                <ul class="nav navbar navbar-right"></ul>
                @if (User.Identity.IsAuthenticated)
                {
                    var identity = User.Identity as System.Security.Claims.ClaimsIdentity;

                    <ul class="nav navbar navbar-right">
                        <li><a href="~/Perfil/MinhasClinicas" class="nav-dir">Clínicas Favoritas</a></li>
                    </ul>
                    bool temFoto = identity.Claims.FirstOrDefault(c => c.Type == "TemFoto") != null ? Convert.ToBoolean(identity.Claims.FirstOrDefault(c => c.Type == "TemFoto").Value) : false;
                    <a href="#" class="dropdown-toggle nav-dir" data-toggle="dropdown">
                        @if (temFoto)
                        {
                            <img src="@Url.Action("FotoPerfil", "Perfil")" class="rounded-circle" style="width: 1.8125rem; height: 1.8125rem;" /><span class="caret"></span>
                        }
                        else
                        {
                            <i class="fa fa-user-circle" style="font-size: 1.85rem;"></i><span class="caret"></span>
                        }

                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="~/Perfil/MeuPerfil" class="nav-dir">Meu Perfil</a></li>
                        <li><a href="~/Perfil/AlterarSenha" class="nav-dir">Alterar Senha</a></li>
                        <li><a href="~/Autenticacao/LogOut" class="nav-dir">Sair</a></li>

                    </ul>

                }
                else
                {
                    <ul class="nav navbar navbar-right">
                        <li><a href="~/Autenticacao/Login" class="nav-dir">Entre</a></li>
                        <li>  <a href="~/Autenticacao/Cadastrar" class="btn btn-outline-primary ">Cadastre-se</a></li>
                      
                    </ul>
                }


                </div>
        </nav>
        @RenderSection("submenu", required: false)
  
    </div>


    <div class="inicio">
        @RenderBody()

    </div>

    <footer class="bg-light">
        <p>&copy; @DateTime.Now.Year - Med List</p>
    </footer>
    <script type="text/javascript">var baseUrl = '@Url.Content("~")';</script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
