@model ListMed.Models.Clinica

@{
    ViewBag.Title = "Detalhes";
}
<div id="msg" class=" mt-2" style="@(ViewBag.returnMsg == null ? "display: none;" : "")">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 offset-md-8 col-md-4">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @ViewBag.returnMsg
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container shadow" style="margin-top: 2%; ">


    <div class="row border-bottom">
        <div class="col-md-8 border-right">
            <div id="infos">
                <h4>@Html.DisplayFor(model => model.NomeFantasia)</h4><br />
                <a href="@Model.LinkSite" target="_blank">Visitar Site</a><br />
                <span>Telefone 1:</span> @Html.DisplayFor(model => model.Telefone1)<br />
                <span>Telefone 2:</span> @Html.DisplayFor(model => model.Telefone2)<br />
                <span>Endereço Completo:</span> @Model.EnderecoFormatado<br />
                <p>Serviços: </p>
                @foreach (var servico in Model.Servicos)
                {
                    <div class="chip-visualiza">
                        <small>@servico.Descricao</small>
                    </div>
                }
                <p>Especialidades: </p>
                @foreach (var especialidade in Model.Especialidades)
                {
                    <div class="chip-visualiza">
                        <small>@especialidade.descricao</small>
                    </div>
                }
                <br />
                <span>Avaliação</span>
                <div id="estrelas" title="@Model.avaliacao">
                    @if (Model.avaliacao > 0)
                    {
                        if (Model.avaliacao < 1)
                        {
                            <span class="fa fa-star-half-full checado"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.avaliacao < 1.5)
                        {
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.avaliacao < 2)
                        {
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star-half-full checado"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.avaliacao < 2.5)
                        {
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.avaliacao < 3)
                        {
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star-half-full checado"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>

                        }
                        else if (Model.avaliacao < 3.5)
                        {
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>

                        }
                        else if (Model.avaliacao < 4)
                        {
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star-half-full checado"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.avaliacao < 4.5)
                        {
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.avaliacao < 5)
                        {
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star-half-full checado"></span>
                        }
                        else
                        {
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                        }
                    }
                    else
                    {
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    }
                </div>
                <br />
                @if (Model.Usuarios != null && Model.Usuarios.Count > 0)
                {
                    if (User.Identity.IsAuthenticated)
                    {
                        var identity = User.Identity as System.Security.Claims.ClaimsIdentity;
                        int idUsuario = Convert.ToInt32(identity.Claims.FirstOrDefault(c => c.Type == "Id").Value);

                        if (Model.Usuarios.FirstOrDefault(a => a.Id == idUsuario) != null)
                        {
                            <a href="#@Model.Id"><span class="fa fa-heart coracao cor-coracao"></span></a>
                        }
                        else
                        {
                            <a href="#@Model.Id"><span class="fa fa-heart coracao"></span></a>
                        }
                    }
                    else
                    {
                        <a href="#@Model.Id"><span class="fa fa-heart coracao"></span></a>
                    }


                }
                else
                {
                    <a href="#@Model.Id"><span class="fa fa-heart coracao"></span></a>
                }
            </div>


        </div>
        <div class="col-md-4" style="padding-bottom: 10px; padding-top: 10px;">
            <div id="mapa"></div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-md-8 offset-2">
            <h4 class="text-center">Avaliações: </h4>
            <div class="avaliacoes border border-bottom-0 ">
                @if (Model.Avaliacoes != null && Model.Avaliacoes.Count > 0)
                {
                    foreach (var av in Model.Avaliacoes)
                    {
                        <div class="row p-3">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-2">
                                        <img src="@Url.Action("FotoPerfil", "Perfil")" style="width: 3rem; height: 3rem;" class="rounded-circle" />
                                    </div>
                                    <div class="col-10">
                                        <span>@av.Usuario.nick</span><br />
                                        <span>@av.DataHora.ToString("dd/MM/yyyy")</span>
                                    </div>
                                </div>
                            

                            </div>
                            <div class="col-md-6" style="text-align: right;">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    if (i <= av.nota)
                                    {
                                        <span class="fa fa-star checado"></span>
                                    }
                                    else
                                    {
                                        <span class="fa fa-star "></span>
                                    }

                                }

                            </div>
                        </div>
                        <div class="row pl-2 pr-2">
                            <div class="col-md-12 ">
                                <textarea class="form-control-plaintext" readonly>@av.comentario</textarea>
                            </div>
                        </div>
                        <hr />
                    }
                }
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                var identity = User.Identity as System.Security.Claims.ClaimsIdentity;
                int idUsuario = Convert.ToInt32(identity.Claims.FirstOrDefault(c => c.Type == "Id").Value);
                var avaliacao = Model.Avaliacoes.Where(a => a.IdUsuario == idUsuario).FirstOrDefault();
                if (avaliacao == null)
                {
                    <form action="~/Clinicas/AvaliarClinica" id="avClini" method="post">
                        <input type="hidden" name="id" value="@Model.Id" />
                        <h4 class="text-center">Avalie: </h4>
                        <div class="divAvaliacao border p-4">
                            <div class="form-group">
                                <span>Nota: </span>
                                <div class="avaliar_estrelas">
                                    <span class="fa fa-star avalia" id="0"></span>
                                    <span class="fa fa-star avalia" id="1"></span>
                                    <span class="fa fa-star avalia" id="2"></span>
                                    <span class="fa fa-star avalia" id="3"></span>
                                    <span class="fa fa-star avalia" id="4"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <span for="descAvaliacao">Descrição: </span>
                                <textarea class="form-control" name="desc" id="descAvaliacao" rows="3"></textarea>
                            </div>
                            <div class="form-group" style="text-align: right;">
                                <input type="submit" ref="@Model.Id" class="btn btn-primary" id="avalie" value="Avalie" />
                            </div>
                        </div>
                    </form>

                }
                else
                {
                    <div style="text-align: center;">
                        <button type="button" class="btn btn-primary editarAvaliacao mt-2 mb-3">Editar Avaliação</button>
                    </div>

                    <div id="editAvaliacao" style="display: none;">
                        <form action="~/Clinicas/ReavaliarClinica" id="reavClini" method="post">
                            <input type="hidden" name="id" value="@avaliacao.Id" />
                            <h4 class="text-center">Avalie: </h4>
                            <div class="divAvaliacao border p-4">
                                <div class="form-group">
                                    <span>Nota: </span>
                                    <div class="avaliar_estrelasE">
                                        <span class="fa fa-star avalia @(avaliacao.nota >= 1 ? "check" : "")" id="0"></span>
                                        <span class="fa fa-star avalia @(avaliacao.nota >= 2 ? "check" : "")" id="1"></span>
                                        <span class="fa fa-star avalia @(avaliacao.nota >= 3 ? "check" : "")" id="2"></span>
                                        <span class="fa fa-star avalia @(avaliacao.nota >= 4 ? "check" : "")" id="3"></span>
                                        <span class="fa fa-star avalia @(avaliacao.nota >= 5 ? "check" : "")" id="4"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span for="descAvaliacao">Descrição: </span>
                                    <textarea class="form-control" name="desc" id="descAvaliacaoE" rows="3">@avaliacao.comentario</textarea>
                                </div>
                                <div class="form-group" style="text-align: right;">
                                    <input type="submit" ref="@avaliacao.Id" class="btn btn-primary" id="editavalie" value="Avalie" />
                                </div>
                            </div>
                        </form>

                    </div>
                }


            }
            else
            {
                <div class="row mt-4">

                    <div class="col-md-12" style="text-align: center;">
                        <h4>Avalie</h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-6">
                        <a href="~/Autenticacao/login?ReturnUrl=@Request.Url" class="btn btn-outline-secondary btn-entre">Entre</a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-6">
                        <a href="~/Autenticacao/Cadastrar" class="btn btn-outline-primary">Cadastre-se</a>
                    </div>
                </div>

            }

        </div>
    </div>
</div>

@section scripts {

    @Scripts.Render("~/ScriptMed/Clinicas.js")
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbjKpIM4wD3dj3W5VqGuCYMH6hdoGhXP8&callback=InitDet">
    </script>
    <script>
        function InitDet() {
            var myLatLng = { lat: @Model.Lt.ToString().Replace(",", "."), lng: @Model.Lg.ToString().Replace(",", ".") };

            var map = new google.maps.Map(document.getElementById('mapa'), {
                zoom: 14,
                center: myLatLng
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: "@Model.NomeFantasia"
            });
        }
    </script>
}