@model ListMed.Models.Clinica

@{
    ViewBag.Title = "Detalhes";
}

<div class="container shadow" style="margin-top: 2%; ">
    <div class="row border-bottom">
        <div class="col-md-8 border-right">
            <div id="infos">
                <h4>@Html.DisplayFor(model => model.NomeFantasia)</h4><br />
                <a href="@Model.LinkSite" target="_blank">Visitar Site</a><br />
                <span>Telefone 1:</span> @Html.DisplayFor(model => model.Telefone1)<br />
                <span>Telefone 2:</span> @Html.DisplayFor(model => model.Telefone2)<br />
                <span>Endereço Completo:</span> @Model.EnderecoFormatado<br />
                <p>Serviços: </p>
                @foreach (var servico in Model.Servicos)
                {
                    <div class="chip-visualiza">
                        <small>@servico.Descricao</small>
                    </div>
                }
                <p>Especialidades: </p>
                @foreach (var especialidade in Model.Especialidades)
                {
                    <div class="chip-visualiza">
                        <small>@especialidade.descricao</small>
                    </div>
                }
                <br />
                <span>Avaliação</span>
                <div id="estrelas" title="@Model.avaliacao">
                    @if (Model.avaliacao > 0)
                    {
                        if (Model.avaliacao < 1)
                        {
                            <span class="fa fa-star-half-full checado"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.avaliacao < 1.5)
                        {
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.avaliacao < 2)
                        {
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star-half-full checado"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.avaliacao < 2.5)
                        {
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.avaliacao < 3)
                        {
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star-half-full checado"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>

                        }
                        else if (Model.avaliacao < 3.5)
                        {
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>

                        }
                        else if (Model.avaliacao < 4)
                        {
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star-half-full checado"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.avaliacao < 4.5)
                        {
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.avaliacao < 5)
                        {
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star-half-full checado"></span>
                        }
                        else
                        {
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                            <span class="fa fa-star checado"></span>
                        }
                    }
                    else
                    {
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    }
                </div>
                <br />
                @if (Model.Usuarios != null && Model.Usuarios.Count > 0)
                {
                    if (User.Identity.IsAuthenticated)
                    {
                        var identity = User.Identity as System.Security.Claims.ClaimsIdentity;
                        int idUsuario = Convert.ToInt32(identity.Claims.FirstOrDefault(c => c.Type == "Id").Value);

                        if (Model.Usuarios.FirstOrDefault(a => a.Id == idUsuario) != null)
                        {
                            <a href="#@Model.Id"><span class="fa fa-heart coracao cor-coracao"></span></a>
                        }
                        else
                        {
                            <a href="#@Model.Id"><span class="fa fa-heart coracao"></span></a>
                        }
                    }
                    else
                    {
                        <a href="#@Model.Id"><span class="fa fa-heart coracao"></span></a>
                    }


                }
                else
                {
                    <a href="#@Model.Id"><span class="fa fa-heart coracao"></span></a>
                }
            </div>


        </div>
        <div class="col-md-4" style="padding-bottom: 10px; padding-top: 10px;">
            <div id="mapa"></div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-md-8 offset-2">
            <h4 class="text-center">Avaliações: </h4>
            <div class="avaliacoes border">
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                var identity = User.Identity as System.Security.Claims.ClaimsIdentity;
                int idUsuario = Convert.ToInt32(identity.Claims.FirstOrDefault(c => c.Type == "Id").Value);
                var avaliacao = Model.Avaliacoes.Where(a => a.IdUsuario == idUsuario).FirstOrDefault();
                if (avaliacao == null)
                {
                    <h4 class="text-center">Avalie: </h4>
                    <div class="divAvaliacao border p-4">
                        <div class="form-group">
                            <span>Nota: </span>
                            <div class="avaliar_estrelas">
                                <span class="fa fa-star avalia" id="0"></span>
                                <span class="fa fa-star avalia" id="1"></span>
                                <span class="fa fa-star avalia" id="2"></span>
                                <span class="fa fa-star avalia" id="3"></span>
                                <span class="fa fa-star avalia" id="4"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <span for="descAvaliacao">Descrição: </span>
                            <textarea class="form-control" id="descAvaliacao" rows="3"></textarea>
                        </div>
                        <div class="form-group" style="text-align: right;">
                            <input type="button" ref="@Model.Id" class="btn btn-primary" id="avalie" value="Avalie" />
                        </div>
                    </div>
                }
                else
                {
                    <button type="button" class="btn btn-primary editarAvaliacao mt-2" style="text-align: center;">Editar Avaliação</button>
                    <div id="editAvaliacao" style="display: none;">
                        <h4 class="text-center">Avalie: </h4>
                        <div class="divAvaliacao border p-4">
                            <div class="form-group">
                                <span>Nota: </span>
                                <div class="avaliar_estrelasE">
                                    <span class="fa fa-star avalia @(avaliacao.nota >= 1 ? "check" : "")" id="0"></span>
                                    <span class="fa fa-star avalia @(avaliacao.nota >= 2 ? "check" : "")" id="1"></span>
                                    <span class="fa fa-star avalia @(avaliacao.nota >= 3 ? "check" : "")" id="2"></span>
                                    <span class="fa fa-star avalia @(avaliacao.nota >= 4 ? "check" : "")" id="3"></span>
                                    <span class="fa fa-star avalia @(avaliacao.nota >= 5 ? "check" : "")" id="4"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <span for="descAvaliacao">Descrição: </span>
                                <textarea class="form-control" id="descAvaliacaoE" rows="3">@avaliacao.comentario</textarea>
                            </div>
                            <div class="form-group" style="text-align: right;">
                                <input type="button" ref="@avaliacao.Id" class="btn btn-primary" id="editavalie" value="Avalie" />
                            </div>
                        </div>
                    </div>
                }


            }
            else
            {
                <p>Logue</p>
            }

        </div>
    </div>
</div>

@section scripts {

    @Scripts.Render("~/ScriptMed/Clinicas.js")
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbjKpIM4wD3dj3W5VqGuCYMH6hdoGhXP8&callback=InitDet">
    </script>
    <script>
        function InitDet() {
            var myLatLng = { lat: @Model.Lt.ToString().Replace(",", "."), lng: @Model.Lg.ToString().Replace(",", ".") };

            var map = new google.maps.Map(document.getElementById('mapa'), {
                zoom: 14,
                center: myLatLng
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: "@Model.NomeFantasia"
            });
        }
    </script>
}